
.button {
    display: inline-block;
    padding: 18px 0;
    width: 218px;
    text-align: center;
}

a.button{
    color: #fff;
}

.button__primary {
    background-color: #252c41;
}


.button__secondary {
    background-color: #e24647;
}